name: language-modeling-ci-workflow
on:
  push:
    branches:
      - main
      - develop
      - feature/**
      - refacto
  pull_request:
    branches:
      - main
      - develop
      - feature/**

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: running quality checks
        run: make quality-checks
  unit-tests:
    needs: quality
    strategy:
      matrix:
        python: [3.7, 3.8, 3.9]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: setup python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: running unit test
        run: make unit-tests
